*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
}
.cotainer{
    width:75%;
    margin:0 auto;
}
.top{
    height:85px;
    background:#4A67A9; 
}  
.form{

    float:right;
    
}
.logo{
    float:left;
    padding-top:15px;
    padding-left:180px;
}
.text-field{
 width:170px;
 height:70px;
 padding:15px 4px;
 float:left;
}

label{
    color:white;
    font-size:14px;
    
}
.textfield>input{
   width:150px;
   height:20px;
   border:1px solid;
   margin:3px 0;
}
.forgot{
    color:#8FB4D8;
    font-size:14px;
    
}
.top input[type="submit"]{
    background:#4267B2;
    color:white;
  margin:38px ;
  margin-left:10px;
  margin-top:30px;
    height:25px;
    border:1px solid #4267B2;
}
.right-body{
  clear:both;
    width:40%;
   float:right;
    
}
.left-body{
    width:30%
    float:left;
}
h1{ 
    font-size:22px;
    margin-top:20px;
    margin-left:190px;
    width:500px;
    color:#0E385F;
}
.map{
    margin-top:20px;
    padding-left:200px;
}

.main-heading{
    font-size:30px;
    font-weight:bolder; 
}
.sub{
    font-size:22px;
    margin:5px 5px;

}.right-body>input.half{
    width:35%; 
    height:35px;
    border-radius:5px;
    padding:0 5px;
    border:1px solid #BDC7D8 ;
    font-size:15px;
    margin:5px 5px;
 
 }
 .right-body>input.full{
    width:77%; 
    height:35px;
    border-radius:5px;
    padding:0 5px;
    border:1px solid #BDC7D8 ;
    font-size:15px;
    margin:7px 5px;
 
 } 
  .right-body select{
    width:60px;
    height:30px;
  }
  .gender{
    font-size:20px;
    font-weight:bold;
  }
  .para{
    font-size:12px;
    color:
  }
  .right-body input[type="submit"]
  {
    width:180px;
    height:40px;
    border-radius:5px;
    background:#3B6E22; 
    color:white;
    font-size:18px;
  }
  .pointer{
    cursor:pointer;
  }





